<%- include('./layout/Header') %>
    <%- include('./layout/Navbar') %>
        <div class="showcase">
            <h1>Welcome to <span class="green-text">My </span> Portfolio</h1>
            <p>Record Your Daily Life</p>
            <a href="/contacts">contacts</a>
        </div>

        <%- include('./layout/Footer') %>