<%- include('./layout/Header') %>
    <%- include('./layout/Navbar') %>
    <section id="Projects Page">
        <!-- Container with centered text and padding of 24 units -->
        <div class="text-center py-24">
            <!-- Heading with bold font and large text -->
            <p class="text-4xl font-bold">My Projects</p>
            
            <!-- Grid container with 3 columns, gap of 8 units, and margin top of 10 units -->
            <div class="grid grid-cols-3 gap-8 mt-10">

                <div class="h-96 bg-dark-gray rounded-xl flex flex-col gap-2 items-center">
                    <p class="my-4 text-lg text-gray-400">My very first HTML Project in Repl.it, the called Jumble Game</p>
                </div>

                <div class="h-96 bg-dark-gray rounded-xl flex flex-col items-center gap-2">

                    <p class="my-4 text-lg text-gray-400">Created a functional website during Proffessor Shiekh's lectures.</p>
                </div>
            </div>
        </div>
    </section>

        <%- include('./layout/Footer') %>